body {  
      background-color: aqua;
    
    }
    
    table { border: solid 2px #333;
      
        }
    
    body {
        background-image: url("https://lumiere-a.akamaihd.net/v1/images/smile_-_pooh_b9b622d6.gif");
    }


    p{ 
     width: 70;
        background-color: gold;
    
     }

    #fatboy {
        border: 30px dashed #77aa77;
    
        
    }
